body{
   
    height: 100vh;
    background: linear-gradient(116.82deg, #ADD8E6 0%, #FFFFFF 100%);
}

.weatherWidget{
    
    width: 660px;
    height: 324px;
    
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    
}

.cityInput{
    background: #FFFFFF ;
    width: 660px;
    height: 96px;
    align-items: center;
    border-radius: 10px;

}

.inputBox{
    border: 1x solid #000;
}

.getWeatherBtn{
    background-color: #4B77BE;
}
.weatherTitle{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 24px;
    color: #4B77BE;
}

.weatherTemp{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
}
.weatherCity {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #4B77BE;
}